{template 'web/_header'}
{template 'web/order/tabs'}
<style type='text/css'>
       .trhead td {  background:#efefef;text-align: center}
       .trbody td {  text-align: center; vertical-align:top;border-left:1px solid #ccc;}
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="ycs_fxshop" />
            <input type="hidden" name="do" value="order" />
            <input type="hidden" name="status" value="{$status}" />
            <input type="hidden" name="agentid" value="{$_GPC['agentid']}" />
            <input type="hidden" name="refund" value="{$_GPC['refund']}" />
            <div class="form-group">
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <div class='input-group'>
                        <div class='input-group-addon'>订单号</div>
                        <input class="form-control" name="keyword" type="text" value="{$_GPC['keyword']}" placeholder="订单号">
                        <div class='input-group-addon'>快递单号</div>
                        <input class="form-control" name="expresssn" type="text" value="{$_GPC['expresssn']}" placeholder="快递单号">
                        <div class='input-group-addon'>用户信息</div>
                        <input class="form-control" name="member" type="text" value="{$_GPC['member']}" placeholder="用户手机号/姓名/昵称, 收件人姓名/手机号 ">
                        <div class='input-group-addon'>支付方式</div>
                        <select name="paytype" class="form-control">
                            <option value="" {if $_GPC['paytype']==''}selected{/if}>不限</option>
                            {loop $paytype $key $type}
                            <option value="{$key}" {if $_GPC['paytype'] == "$key"} selected="selected" {/if}>{$type['name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-6">

                    <div class='input-group'>

                        <div class='input-group-addon'>下单时间
                            <label class='radio-inline' style='margin-top:-7px;'>
                                <input type='radio' value='0' name='searchtime' {if $_GPC['searchtime']=='0'}checked{/if}>不搜索
                            </label>
                            <label class='radio-inline'  style='margin-top:-7px;'>
                                <input type='radio' value='1' name='searchtime' {if $_GPC['searchtime']=='1'}checked{/if}>搜索
                            </label>
                        </div>
                        {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}


                    </div>
                </div>

                {if !empty($agentid) && $level>0}
                <div class="col-sm-3">
                    <div class='input-group'>
                        <div class='input-group-addon'>分销订单级数</div>
                        <select name="olevel" class="form-control">
                            <option value="" >不限</option>
                            <option value="1" {if $_GPC['olevel'] ==1} selected="selected" {/if}>一级订单</option>
                            <option value="2" {if $_GPC['olevel'] ==2} selected="selected" {/if}>二级订单</option>
                            <option value="3" {if $_GPC['olevel'] ==3} selected="selected" {/if}>三级订单</option>
                        </select>
                    </div>    </div>
                {/if}

            </div>

            <div class="form-group">

                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                    <button type="submit" name="export" value="1" class="btn btn-primary">导出 Excel</button>
                </div>
            </div>

        </form>
    </div>
</div>


        <table class='table' style='float:left;border:1px solid #ccc;margin-bottom:5px;table-layout: fixed'>
                <tr class='trhead'>
                    <td colspan='2'  style='text-align:left;'>订单数: {$total} 订单金额: {$totalmoney}</td>
                    <td >规格及编码</td>
                    <td >单价(元)</td>
                    <td >数量</td>
                    <td >买家</td>
                    <td >支付方式</td>
                    <td>配送方式</td>
                    <td >价格</td>
                    <td  >状态</td>
                    <td>操作</td>
                </tr>
            </table>

                {loop $list $item}
  <table class='table' style='float:left;border:1px solid #ccc;margin-top:5px;margin-bottom:5px;table-layout: fixed'>
                <tr >
                    <td colspan='10'  style='border-bottom:1px solid #ccc;background:#efefef;' >
                        <b>订单编号:</b>  {$item['ordersn']}
                        <b>下单时间:  </b>{php echo date('Y-m-d H:i:s', $item['createtime'])}
                         {if !empty($item['refundid'])}<label class='label label-danger'>退款申请</label>{/if}
                    <td style='border-bottom:1px solid #ccc;background:#efefef;text-align: center' >
                          {if empty($item['statusvalue'])}
                           {ifp 'order.op.close'}
                                  <a class="btn btn-default btn-sm" href="javascript:;" onclick="$('#modal-close').find(':input[name=id]').val('{$item['id']}')" data-toggle="modal" data-target="#modal-close">关闭订单</a>
                            {/if}
                            {/if}
                    </td>

                </tr>


                {loop $item['goods'] $k $g}
                <tr class='trbody'>
                    <td valign='top'  colspan='2' style='border-left:none;text-align: left;' style='width:200px;' >
                        <img src="{php echo tomedia($g['thumb'])}" style="width: 50px; height: 50px;border:1px solid #ccc;padding:1px;">
                        {$g['title']} </td>
                    <td style='border-left:none'>{if !empty($g['optiontitle'])}<span class="label label-primary">{$g['optiontitle']}</span>{/if}
                        <br/>{$g['goodssn']}</td>
                    <td style='border-left:none'>原价: {php echo $g['price']/$g['total']} <br/>折后: {php echo $g['realprice']/$g['total']}</td>
                    <td style='border-left:none'>{$g['total']}</td>
                    {if $k==0}
                    <td rowspan="{php echo count($item['goods'])}" > {$item['realname']}<br/>{$item['mobile']}</td>
                    <td rowspan="{php echo count($item['goods'])}" ><label class='label label-{$item['css']}'>{$item['paytype']}</label></td>
                    <td  rowspan="{php echo count($item['goods'])}">{$item['dispatchname']}<!--virtual--></td>
                    <td style='text-align:right;'  rowspan="{php echo count($item['goods'])}">{$item['price']} 元<br/>运费: {$item['dispatchprice']} 元
                          {if $item['deductprice']>0}
                    <br/>积分抵扣: {$item['deductprice']} 元
                    {/if}
                    {if $item['deductcredit2']>0}
                    <br/>余额抵扣: {$item['deductcredit2']} 元
                    {/if}
                     {if $item['deductenough']>0}
                    <br/>满额立减: {$item['deductenough']} 元
                    {/if}
                    </td>
                    <td   rowspan="{php echo count($item['goods'])}" >
                    {if empty($item['refundid'])}
                    <label class='label label-{$item['statuscss']}'>{$item['status']}</label>
                    {/if}<br />
                    <a href="{php echo $this->createWebUrl('order', array('op' => 'detail', 'id' => $item['id']))}" >查看详情</a></td>
 <td style="min-width: 150px"  rowspan="{php echo count($item['goods'])}" >
{template 'web/order/ops'}


 </td>
            {/if}
                                                                                                                  </tr>
                                                                                                                  {/loop}
   </table>

                                                                                                                  {/loop}


                    {$pager}
         {template 'web/order/modals'}
        {template 'web/_footer'}
